.paginacion {
	margin:20px 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.paginacion ul {
	list-style:none;
	text-align: center;
}

.paginacion ul li {
	display:inline-block;
	margin-right:10px;
}

.paginacion ul li a {
	display:block;
	padding:10px 20px;
	color:#fff;
	background:#024959;
	text-decoration: none;
}

.paginacion ul li a:hover {
	background:#000000;
}

.paginacion ul li .active {
	background:#037E8C;
	font-weight:bold;
}